 # gitignore file 
 # Ignore every node_module inside child folders 

 */node_modules

 # Ignore node_modules folder inside json_server folder 

json-server/node_modules

# Logs
*/logs
*/*.log
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/pnpm-debug.log*
*/lerna-debug.log*

*/dist
*/dist-ssr
*/*.local

# Editor directories and files

*/.vscode/*
*/!.vscode/extensions.json
*/.idea
*/.DS_Store
*/*.suo
*/*.ntvs*
*/*.njsproj
*/*.sln
*/*.sw?
